@import '../../styles/scss/colors.scss';

.tag-style {
  font-size: 0.8871em;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.35em;
  margin: 10px 4px;
  border: none;
  display: inline-flex;
  align-items: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-box-shadow: 5px 5px 25px -8px #8a8a8a;
  -moz-box-shadow: 5px 5px 25px -8px #8a8a8a;
  box-shadow: 5px 5px 25px -8px #8a8a8a;
  &.tag-info {
    background: $info-color;
  }
  &.tag-primary {
    background: $primary-color;
  }
  &.tag-secondary {
    background: $secondary-color;
  }
  &.tag-warning {
    background: $warning-color;
  }
  &.tag-danger {
    background: $danger-color;
  }

  &:hover {
    .removeTag {
      cursor: pointer;
      opacity: 1;
      padding: 0 0.5em;
    }
  }

  .removeTag {
    color: white;
    opacity: 0;
    -webkit-transition: all 1.5s;
    transition: all 1.5s;
    width: 0;
  }
}

.tag-small {
  font-size: 0.8em;
  padding: 0px 10px;
  height: 25px;
  border-radius: 15px;
}

.tag-medium {
  font-size: 0.9em;
  padding: 0px 12px;
  height: 30px;
  border-radius: 15px;
}

.tag-large {
  font-size: 1em;
  padding: 0px 16px;
  height: 35px;
  border-radius: 25px;
}
