@import '../../styles/scss/colors.scss';

.button-style {
  font-size: 0.8871em;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.35em;
  margin: 10px 4px;
  border: none;
  display: inline-flex;
  align-items: center;
  border-radius: 2px;
}

.button-small {
  font-size: 0.8em;
  padding: 0px 10px;
  height: 25px;
}

.button-medium {
  font-size: 0.9em;
  padding: 0px 12px;
  height: 30px;
}

.button-large {
  font-size: 1em;
  padding: 0px 16px;
  height: 35px;
}
